.intro {
  background-color: rgba(19, 19, 19, 0.873);
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 1px white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
  color: white;

}

.intro p {
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4px;
  margin-bottom: 4px;
  color: rgb(216, 216, 216);
}

.describeintro {
  margin-top: 0px;
  margin-bottom: 5px;
}

.myname {
  margin-top: 0px;
  margin-bottom: 0px;
}

.titleWork {
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.848);
  border-radius: 0px 0px 10px 10px;
  width: 88%;
  margin-left: 6%;

}

body {
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-image: url("./background.jpg");
}

.jobContainer {
  background-color: rgba(19, 19, 19, 0.873);
  border: 1px solid white;
  margin-bottom: 0.5%;
  border-radius: 10px;
  width: 42%;
  box-shadow: 2px 3px 10px 1px white;
  display: block;
  margin-right: 6%;
  margin-top: 0.5%;

}

.jobContainer p {
  /* margin-left: 5%;
  margin-top: 12px;
  background-color: transparent;
  width: 90%;
  display: flex;
  justify-content: center;
  text-shadow: rgb(255, 255, 255) 1px 0px 5px;
  color: rgb(216, 216, 216);
  margin-bottom: 10%; */

  margin-left: 5%;
  margin-top: 0px;
  background-color: transparent;
  width: 90%;
  display: flex;
  color: rgb(216, 216, 216);

}

.jobContainer h4 {
  margin-left: 5%;
  margin-top: -15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  color: rgb(216, 216, 216);
}

.containerAllJobContainer {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  margin-top: 0px;
  height: 100%;


}

.imgJob {
  background-color: aqua;
  height: 90px;
  width: 90px;
  z-index: 10;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 2px 3px 10px 1px white;
  background-size: contain;

}

.containerDescribeAndImg {
  /* display: flex;
  flex-direction: row;
  margin-left: 3%;
  margin-right: 2%;
  align-items: center;
  background-color: transparent;
  width: 95%; */

  display: flex;
  flex-direction: row;
  margin-left: 3%;
  background-color: transparent;
  width: 100%;

}

.describe {
  width: 70%;
  margin-left: 10%;
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 15px;
  background-color: transparent;
  z-index: 14;
  font-size: medium;
  /* text-shadow: rgb(255, 255, 255) 1px 0px 5px; */
  color: rgb(185, 181, 181);
  height: 110px;

}

h2 {
  color: rgba(32, 32, 32, 0.834);
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  color: white;
}

.exptitle {

  background-color: rgba(19, 19, 19, 0.873);
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  margin-top: -1px;
  margin-bottom: 12px;
  width: 26%;
  border-radius: 10px;
  box-shadow: 2px 3px 10px 1px white;
  border: 1px solid white;
  animation: "apparition" 2s reverse
}

.diplom {
  border-radius: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 3%;
  animation: "float" 4s ease-in-out 1;

}

.skills {
  background-color: rgba(19, 19, 19, 0.873);
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 2px 3px 10px 1px white;
  margin-left: -2.5%;
  margin-right: 1%;
  margin-bottom: 0.4%;
  margin-top: 0.35%;
  animation: "iconAnimation";
  animation-duration: 2s;
}

.skills img {
  border-radius: 10px;
  width: 40px;
  border: 1px solid white;
  box-shadow: 2px 3px 10px 1px white;

}

.iconBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-left: 5%;

}

.iconAndTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5%;
  width: 25%;
}

.containerAllJobsAndInfo {
  display: flex;
  flex-direction: row;
  width: 97%;
  margin-left: 1.5%;
}

.diplomCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 5%;
  background-color: rgba(19, 19, 19, 0.873);
  box-shadow: 2px 3px 10px 1px white;
  border: 1px solid white;


}

.diplomCard p {
  margin-top: 0px;
  margin-bottom: 15px;
  color: black;
  /* text-shadow: rgb(255, 255, 255) 1px 0px 5px; */
  background-color: whitesmoke;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid white;

}

.skills p {
  /* text-shadow: rgb(255, 255, 255) 1px 0px 5px; */
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  font-size: medium;
  color: rgb(216, 216, 216);
  animation: "titleIconAnimation";
  animation-duration: 0.5s;

}

.titleDiplome {
  border-color: 1px solid white;
  color: orange;
}


.diplom h1 {
  font-size: medium;
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
}

.diplom h5 {
  /* text-shadow: rgb(255, 255, 255) 1px 0px 5px; */
  color: rgb(216, 216, 216);
  margin-top: 4%;
  margin-bottom: 4%;

}

.containerExpTitle {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.iconBox img {
  animation: "iconAnimation";
  animation-duration: 1s;
  animation-delay: 2s;
}

.containerTitleDate p {
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
}



@keyframes iconAnimation {
  from {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

@keyframes titleIconAnimation {
  from {
    transform: rotateY(360deg);
  }

  to {
    transform: rotateY(0deg);

  }
}

@keyframes jobContainerAnimation {
  from {
    width: 0%;
  }

  to {
    width: 100%;

  }
}




@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes apparition {
  0% {
    box-shadow: 0 5px 15px 0px rgba(161, 4, 4, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px #f6f6f633;
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}



@media (max-width: 500px) {
  .intro {
    background-color: rgba(19, 19, 19, 0.873);
  }

  .exptitle {
    width: 100%;
    background-color: rgba(19, 19, 19, 0.873);
    font-size: 23px;
    animation: none
  }

  .containerAllJobsAndInfo {
    /* display: flex;
    flex-direction: column; */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0%;
  }


  .jobContainer {
    background-color: rgba(19, 19, 19, 0.873);
    border: 1px solid white;
    margin-bottom: 3%;
    border-radius: 10px;
    width: 100%;
    box-shadow: 2px 3px 10px 1px white;
    display: block;
    margin-right: 0%;
  }

  .jobContainer p {
    margin-left: 5%;
    margin-top: 0px;
    background-color: transparent;
    width: 93%;
    display: flex;
    color: rgb(216, 216, 216);
    overflow: auto;
  }

  .containerAllJobContainer {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0px;
    height: 100%;
  }

  .imgJob {
    background-color: aqua;
    height: 50px;
    width: 50px;
    z-index: 10;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 3px 10px 1px white;
    background-size: contain;
  }

  .skills {
    background-color: rgba(19, 19, 19, 0.873);
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 3px 10px 1px white;
    margin-bottom: 0.4%;
    margin-top: 0.35%;
    animation: none;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 5%;
  }

  .skills p
  {
    animation: none;
  }


  .diplom {
    /* border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    animation: none;
    margin-left: 0%; */

    margin-top: 5%;

    border-radius: 10px;
    width: 94%;
    display: flex;
    flex-direction: row;
    animation: none;
    flex-wrap: wrap;
  }

  .diplomCard {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5%;
    background-color: rgba(19, 19, 19, 0.873);
    box-shadow: 2px 3px 10px 1px white;
    border: 1px solid white;
    width: 33%;
  }

  .iconBox img{

    animation: none;

  }

  .diplom h5 {
    overflow: auto;
  }

  .hiddenDiplomeTitle {
    display: none;
  }

  .titleWork {
    font-size: larger;
  }

  .containerExpTitle {
    margin-top: 3%;
  }
}