.content {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    animation-name:  "slide-in";
    animation-duration: 3s;
    animation-iteration-count: infinite;

    width: 20%;
}

@keyframes slide-in {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  }
  